/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
body {
  padding: 1%;
}
.dropdown,
.dropdown2 {
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #c7c7c7;
  height: 200px;
  width: 200px;
  transition: all 0.4s ease-out;
}
.dropdown > button,
.dropdown2 > button {
  flex: 1;
  border: none;
}
.dropdown > button:hover {
  background: #dfceff73;
}
.dropdown2 > button:hover {
  background: #dfceff73;
}
.dropdown.active,
.dropdown2.active {
  opacity: 1;
}
